<%= link_to 'Back', categories_path, class: "btn btn-primary" %>
<div class = "container-fluid">
	<div class = "row">
		<div class = "col-xs-6 col-md-6">
			<%= image_tag @post.image.url(:large) %>
  				<div class = "post_show_title">
			  	  <p><%= @post.title %></p>
		        </div>
		          <div class = "post_show_description">
  			        <p><%= @post.description %></p>
  			      </div>
  			      	<% if logged_in? && current_seller.admin %>
  			      		<%= link_to 'Delete Post',post_path(@post), method: :delete %>
  			      	<% end %>
  		</div>
	</div>
</div>
<%= render 'listings/listing', obj: @post_listings %>

 